@font-face {
	font-family: 'Alcubierre';
	src: url('Alcubierre.otf');
}

body {
	text-align: center;
	background-color: #FEFEFA;
}

header h1 {
	font-size: 50px;
}

header nav {
	font-size: 20px;
	display: flex;
	justify-content: flex-end;
}

header p {
	padding: 0 20px;
	margin: 0;
}

header .row,
footer .row {
	display: flex;
	align-items: center;
	font-family: Alcubierre, sans-serif;
	color: red;
}

