@font-face {
	font-family: 'Alcubierre';
	src: url('Alcubierre.otf');
	font-family: 'Merriweather Bold';
	src: url("Merriweather Bold.ttf");
	font-family: 'Merriweather Normal';
	src: url("Merriweather Regular.ttf");
	font-family: 'Merriweather Italic';
	src: url("Merriweather Italic.ttf");
}

/* Header and Footer */
header h1 {
	font-size: 50px;
}

header nav {
	font-size: 20px;
	display: flex;
	justify-content: center;
}

header p {
	padding: 0 20px;
	margin: 0;
}

footer p {
	font-size: 15px;
}

header .row {
	align-items: center;
	display: block;
	font-family: Alcubierre, sans-serif;
	color: gray;
}
footer .row {
	align-items: center;
	display: block;
	font-family: Alcubierre, sans-serif;
}

header {
	border-bottom-width: 5px;
	border-bottom-color: black;
	margin: 20px;
}

.title_link {
	text-decoration: none;
	color: gray;
}

.title_link:hover {
	text-decoration: none;
	color: black;
}

/* Nav */
.btn.btn-primary {
	background-color: white;
	border-radius: 0px;
	border-width: 0px;
	border-bottom-width: 5px;
	border-color: white;
	font-size: 20px;
	color: gray;
	position: relative;
	font-family: Alcubierre, sans-serif;
}

.btn.btn-primary:hover {	
	border-color: gray;
	background-color: white;
	color: black;
}

.btn.btn-primary:focus {
	border-color: white;
	background-color: white;
	color: black;
}

.btn.btn-primary:active {
	border-color: black;
	background-color: white;
	color: black;
}

.btn.btn-primary:active:focus {
	border-color: black;
	background-color: white;
	color: black;
}

/* Body */
body {
	text-align: center;
	background-color: #FEFEFA;
}

.about {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	height: 300px;
	width: 300px;
}

iframe {
	height: 1300px;
	width: 1000px;
	border: none;
}

section h3 {
	font-family: Alcubierre, sans-serif;
	text-align: center;
}

#projects {
	margin-top: 50px;
	margin-bottom: 20px;
	border: 2px black;
}

.tile {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

/* Contact Form */
form {
	display: block;
	margin-top: 0em;
}

input[type=text],
input[type=email] {
	border-radius: 0px;
	outline: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

textarea#message {
	border-radius: 0px;
	outline: none;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

label {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


