<!DOCTYPE html>

<html>
	<head>
		<title>
			{{ page.title }}
		</title>
		<link rel="stylesheet" type="text/css" href="/css/main_style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
	</head>

	<body class="body-color">

		<header class="container">
			<div class="row">
				<h1 class="col-sm-12">
					<a class="title_link" href="/"> 
						Jacob Speicher
					</a>
				</h1>

				<nav class="col-sm-12">
					<p>
						<a class="btn btn-primary" target="_blank" href="https://github.com/jacobspeicher" role="button">
							GitHub
						</a>
					</p>
					<p>
						<a class="btn btn-primary" href="/resume" role="button">
							Resumé
						</a>
					</p>
					<p>
						<a class="btn btn-primary" href="/contact" role="button">
							Contact
						</a>
					</p>
				</nav>
			</div>
		</header>

		{{ content }}

		<footer class="container">
			<div class="row">
				<p class="col-sm-12">
					Jacob Speicher 2017
          <div>Icons made by <a href="https://www.flaticon.com/authors/roundicons" title="Roundicons">Roundicons</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
				</p>
			</div>
		</footer>
	</body>
</html>
